{% extends "auctions/layout.html" %}
{% load static %}
{% block styles %}
        <link href="{% static 'auctions/listings.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <h2>
        {% block heading %}
        {% endblock %}
    </h2>
    <main>
    {% for listing in listings %}
        {% if listing.image %}
        <div class="listing view overlay" style="background-image: url({{ listing.image }})">
        {% else %}
        <div class="listing view overlay" style="background-color: #60636D; background-image: url({% static 'auctions/listings/image-228b.jpg' %});">
        {% endif %}
            <a href="{% url 'listing' listing.id %}">
                <div class="mask flex-center rgba-black-strong">
                    <p class="desc white-text">{{ listing.desc }}</p>
                </div>
            </a>
            
            <div class="details">
            
                <h3 class="title">
                    {{ listing.title }}
                </h3>
                <p class="price">Price: {{ listing.amount }}</p>
            
            </div>
        </div>
    {% empty %}
        <h2>Sorry, no listings found.</h2>
    {% endfor %}
</main>
    
{% endblock %}