{% extends "auctions/layout.html" %}

{% block body %}
<main>
    <h2>{{ listing.title }} {%if not listing.status%}(CLOSED){% endif %} </h2>

    {% if user.is_authenticated %}
    <div>
        {% if listing.status %}
            <form method="post" >
                {% csrf_token %}

                {% if owner %}
                    <button type="submit" name="action" value="close" class="btn btn-primary">Close Listing</button>
                {% endif %}

                {% if on_watchlist %}
                    <button type="submit" name="action" value="remove" class="btn btn-danger">Remove from Watchlist</button>
                {% else %}
                    <button type="submit" name="action" value="add" class="btn btn-primary">Add to Watchlist</button>
                {% endif %}
            </form>
        {% elif not listing.status and user == current_bid.user %}
            <div class="alert alert-success" role="alert">
            You won this auction! Hooray!   
            </div>
        {% endif %}
    </div>
    {% endif %}
        {% if listing.image %}
            <img class="listing-img" src={{ listing.image }}>
        {% endif %}
        <p><b>Price:</b> ${{ current_bid }}M </p>
        <p>{{ listing.desc }}</p>

        {% if user.is_authenticated and listing.status %}
            <h3>Add Bid</h3>
            {% if bid_error %}
                <div class="alert alert-danger" role="alert">
                    Bid must be greater than latest bid
                </div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <input type="number" name="bid" class="form-control" id="bid" min="{{current_bid|add:"1"}}" placeholder="{{current_bid|add:"1"}}">
                <button type="submit" name="action" value="bid" class="btn btn-primary">Bid</button>
            </form>
        {% endif %}

            <h3>Comments</h3>
        {% if user.is_authenticated %}
            <form method="post" >
                {% csrf_token %}
                <input type="text" name="comment" class="form-control" id="comment" placeholder="Enter comment">

                <button type="submit" name="action" value="comment" class="btn btn-primary">Comment</button>
            </form>
        {% endif %}

        {% for comment in comments %}
        <p>{{ comment.user }}: {{comment.comment}} </p>
        {% endfor %}


</main>


    
{% endblock %}